button {
  appearance: none
  border: 0
  border-radius: 0
  min-height: 44px
  line-height: 44px
  display: inline-flex
  font-size: 16px
  background-color: $accentColor
  color: white
  cursor: pointer
}
